//colors
$black: #262526;
$white: #f3f3f3;
$gray: #7f8084;

//font weights
$regular: 400;
$medium: 500;
$bold: 700;

//font sizes
$title: 36px;

//bootstrap screen sizes
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
